In [5]:
import numpy as np
import pandas as pd
import mpl_toolkits

In [15]:
Input = pd.read_csv("ABBA.csv")
Input.head()

    Low   Volume
0  40.9   321650
1  47.1  1559650
2  51.2   431800
3  40.0   381550
4  32.9   256550

In [16]:
from sklearn.linear_model import LinearRegression
curve = LinearRegression()
OUTPUT = Input['Low']
inp    =Input['Volume']

In [17]:
train_data = Input.drop(['Low'],axis=1)

In [18]:
from sklearn.cross_validation import train_test_split
x_train , x_test , y_train , y_test = train_test_split(train_data , OUTPUT , test_size = 0.05,random_state =2)
curve.fit(x_train,y_train)
curve.score(x_test,y_test)

-0.20713567409401154