In [31]:
from sklearn.svm import SVC

from sklearn.metrics import scorer

from sklearn.metrics import accuracy_score

# For data manipulation

import pandas as pd

import numpy as np

df = pd.read_csv('ACIBAN.csv')
df.head()

     Low  Volume
0  154.9    7600
1  196.7    8700
2  195.6   49050
3  202.7   10750
4  159.9   19100

In [32]:
from io import StringIO
col = ['Low', 'Volume']

In [33]:
df = df[col]
df = df[pd.notnull(df['Volume'])]
df.columns = ['Low', 'Volume']

In [34]:
df['category_id'] = df['Low'].factorize()[0]
category_id_df = df[['Low', 'category_id']].drop_duplicates().sort_values('category_id')

In [35]:
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'Low']].values)
df.head()

     Low  Volume  category_id
0  154.9    7600            0
1  196.7    8700            1
2  195.6   49050            2
3  202.7   10750            3
4  159.9   19100            4

In [36]:
y = np.where(df['Low'].shift(-1) > df['Low'],1,-1)

In [37]:
df['Low'] = df.Low

df['Volume'] = df.Volume

X=df[['Low','Volume']]

In [38]:
split_percentage = 0.8

split = int(split_percentage*len(df))
X_train = X[:split]

y_train = y[:split]

X_test = X[split:]

y_test = y[split:]
cls = SVC().fit(X_train, y_train)
accuracy_train = accuracy_score(y_train, cls.predict(X_train))

accuracy_test = accuracy_score(y_test, cls.predict(X_test))

In [39]:
print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))

Train Accuracy: 98.91%
Test Accuracy: 56.52%